html,
body {
	margin: 0;
	padding: 0;
	background: rgb(240, 240, 240);
}

#container {
	width: 80%;
	max-width: 750px;
	padding: 12px 18px;
	margin: 10px auto;
	color: rgb(25, 25, 25);
	font-family: "Ledger", serif;
	font-weight: 400;
	font-style: normal;
}

header {
	border-bottom: 2px dashed rgb(25, 25, 25);
}

ul {
	list-style-type: none;
}